# Frontend
PCByte_Front/node_modules/
PCByte_Front/dist/
PCByte_Front/.env
PCByte_Front/.env.local

# Backend
PCByte_Back/target/
PCByte_Back/.env
PCByte_Back/*.log

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
Path_Sistema.txt
VariablesEntorno_Backup.txt
